name: Build executables

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pyinstaller

      - name: Build with PyInstaller
        run: |
          if [[ "${{ matrix.os }}" == "windows-latest" ]]; then
              pyinstaller QuPlots.spec --name QuPlots.exe
          elif [[ "${{ matrix.os }}" == "macos-latest" ]]; then
              pyinstaller QuPlots.spec --name QuPlots-mac
          else
              pyinstaller QuPlots.spec --name QuPlots-linux
          fi


      - name: Upload to GitHub Releases
        uses: softprops/action-gh-release@v1
        with:
          files: dist/**
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
